@charset "UTF-8";

body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header{
    background-image: url(../images/header-back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80%;
    opacity: 0.8;
}

.header-title{
    padding: 0;
    color: white;
    font-size: 2em;
    margin: 0;
}

.header-text{
    
    color: white;
    font-size: 1em;
    padding: 0 2.5em;
    font-weight: bold;
}

.header-contain{
    text-align: center;
    position: relative;
    top: 150px;
}

.btn{
    border: 1px solid white;
    border-radius: 2px;
    background:#2E2E2C;
    padding: 1em;
    color: white;
    text-transform: uppercase;
}

.btn:hover{
    background:#2e2e2ca2
}

.sec-text{
    padding: 1.5em;
    text-align: center;
    height: 30%;
}

.sec1{
    background-color: #EAEAEA;
}

.sec2{
    background-color: #FFFFFF;
}

.cards{
    background-color: #2E2E2C;
    padding: 0.5em 1.2em 1em;
}

.cards-h3{
    text-align: center;
}

.cards-article{
    margin-top: 1em;
}

.cards-content{
    background-color: white;
    padding: 1.2em;
}

.cards-img{
    width: 100%;
}

.contact{
    background-color: #2690D4;
    padding: 2em;
    text-align: center;
    color: white;
}

.sec-about-h2{
    font-size: 1.5em;
    padding: 0.8em 0;
}

.contact p {
    padding: 1em 0;
    font-size: 1.2em;
}

.contact-email{
    margin-bottom: 0;
}

.about{
    background-color: #333333;
    padding: 2em;
    text-align: center;
    color: white;
}

.about p {
    padding: 1em 0;
    font-size: 1.2em;
}

.footer{
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 2em;
}

.footer p{
    margin: 0;
    line-height: 1.5em;
}

.footer a{
    text-decoration: none;
}